// Masthead
header.masthead
    .container

        .row
            .col-sm-12
                .masthead-subheading.text-center.masthead-heading ถ่านอัดแท่งหนองแดงโมเดล
                .masthead-heading.text-uppercase.text-center.masthead-heading-modified 🔥 ไฟแรง ติดทนนาน 🔥 ไร้กลิ่น ไร้ควัน ไร้สารเคมี
                    //- span.masthead-heading 999.-
        
        .row
            .col-sm-1
            .col-sm-10
                .row
                    .col-sm-4
                        a(href="https://www.facebook.com/Charcoalnongdangmodel.2022/") 
                            button.btn.btn-primary.btn-block.fb-btn
                                img(src="../../assets/img/logos/fb-logo-white.png")
                                span FB: ถ่านอัดแท่งหนองแดงโมเดล
                    .col-sm-4
                        a(href="https://line.me/R/ti/p/davebls" target="_blank")
                            button.btn.btn-primary.btn-block.line-btn 
                                img(src="../../assets/img/logos/line-logo.png")
                                span Line ID: @davebls
                    .col-sm-4
                        a(href="tel:+66962466444")
                            button.btn.btn-primary.btn-block.phone-btn 
                                img(src="../../assets/img/logos/telephone-white.jpg")
                                span 
                                    a(href="tel:+66969347420") คุณนัส 096-934-7420
                                br
                                span
                                    a(href="tel:+66957786296") คุณเดฟ 095-778-6296
