//- Script
- let currentYear = new Date().getFullYear();

// Footer
footer.page-footer.font-small.pt-4
    .container.text-center.text-md-left
        .row.text-center.text-md-left.mt-3.pb-3
            .col-md-6.col-lg-6.col-xl-6.mx-auto.mt-6
                h6.text-uppercase.mb-4.font-weight-bold ถ่านอัดแท่งหนองแดงโมเดล
                p 
                    i ผลิต : วัตถุดิบธรรมชาติ 100%
                p
                    i คุณสมบัติ : 
                p
                    i 🔥 ไฟแรง  ให้ความร้อนสม่ำเสมอ 
                p
                    i 🔥 ติดทนนาน 2-3 ชม.  ไม่แตกปะทุ 
                p
                    i 🔥 ไร้กลิ่น  ไร้ควัน  ขี้เถ้าน้อย
                p
                    i 🔥 ไร้สารเคมี ปลอดภัยต่อสุขภาพ และสิ่งแวดล้อม
            hr.col-10.clearfix.d-md-none.hr-styled
            .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold ลิงค์ภายในเว็บ
                p
                    a(href="#services") ทำไมถึงควรใช้บริการกับเรา
                p
                    a(href="#portfolio") ขั้นตอนในการสั่งกับเรา
            hr.col-10.clearfix.d-md-none.hr-styled
            .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold ติดต่อเรา
                p
                    i Line ID: 
                        a(href="https://page.line.me/quicktabien" target="_blank") @quicktabien 
                p
                    i FB Page: 
                        a(href="https://www.facebook.com/Charcoalnongdangmodel.2022/") Quick Tabien รับจองทะเบียน
                p
                    i โทร: 
                        a(href="tel:+66969347420") คุณนัส 096-934-7420
                        br
                        a(href="tel:+66957786296") คุณเดฟ 095-778-6296
                
                
    .container.text-center
        .row.justify-content-md-center.footer-copyright
            .col-12 Copyright © #{currentYear}
                a(href="#") Organic Charcoal.
                | All Rights Reserved.
        .row.justify-content-md-center.footer-social-media 
            .col-12
                a.btn.btn-dark.btn-social.mx-2(href='https://page.line.me/quicktabien')
                    i.fab.fa-line
                a.btn.btn-dark.btn-social.mx-2(href='https://www.facebook.com/Charcoalnongdangmodel.2022/', target='_blank')
                    i.fab.fa-facebook-f
                //- a.btn.btn-dark.btn-social.mx-2(href='#!')
                //-     i.fab.fa-linkedin-in
