// Portfolio Grid
section#portfolio.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase ขั้นตอนในการาสั่งซื้อถ่านถ่านอัดแท่งหนองแดงโมเดลกับเรา
            h3.section-subheading.text-muted How to order.
        .row
            .col-lg-4.col-sm-6.mb-3
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/phone-svgrepo-com.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 1. ติดต่อผ่านเราดังนี้
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            ul 
                                li Line: 
                                    a(href="https://line.me/R/ti/p/davebls" target="_blank") @davebls
                                li FB: 
                                    a(href="https://www.facebook.com/Charcoalnongdangmodel.2022/") ถ่านอัดแท่งหนองแดงโมเดล
                                i โทร: 
                                    a(href="tel:+66969347420") คุณนัส 096-934-7420
                                    br
                                    a(href="tel:+66957786296") คุณเดฟ 095-778-6296
            .col-lg-4.col-sm-6.mb-3
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/check-form-svgrepo-com.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 2. แจ้งรายละเอียดข้อมูล
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            span 1. จำนวนถ่านที่ต้องการ
                            br
                            span 2. ที่อยู่สำหรับจัดส่ง
                            br
                            //- span 3. เลขทะเบียนที่ต้องการ
                            //- br
                            br
                            //- span.font-weight-bold หมายเหตุ ข้อมูลของท่าน 
                            //-     br
                            //-     span ถือเป็นความลับสูงสุด
            .col-lg-4.col-sm-6.mb-3
                .portfolio-item
                    .how-to-icon
                        img.img-how-to(src='assets/img/howto/handshake-svgrepo-com.svg', alt='')
                    .portfolio-caption
                        .collapsible.portfolio-caption-heading 3. รอรับสินค้า
                            .toggle-btn.clearfix
                                .arrow-open-close
                        .content.portfolio-caption-subheading.text-muted.text-left
                            span รอรับถ่านอัดแท่งหนองแดงโมเดล ผลิตจากวัตถุดิบธรรมชาติ 100% 
                            br
                            br
                            i คุณสมบัติ : 
                                p
                                    i 🔥 ไฟแรง  ให้ความร้อนสม่ำเสมอ 
                                p
                                    i 🔥 ติดทนนาน 2-3 ชม.  ไม่แตกปะทุ 
                                p
                                    i 🔥 ไร้กลิ่น  ไร้ควัน  ขี้เถ้าน้อย
                                p
                                    i 🔥 ไร้สารเคมี ปลอดภัยต่อสุขภาพ และสิ่งแวดล้อม
            //- .col-lg-3.col-sm-6.mb-4.mb-lg-0
            //-     .portfolio-item
            //-         .how-to-icon
            //-             img.img-how-to(src='assets/img/howto/payment.svg', alt='')
            //-         .portfolio-caption
            //-             .collapsible.portfolio-caption-heading 4. ชำระเงินและรับหลักฐานการจอง
            //-                 .toggle-btn.clearfix
            //-                     .arrow-open-close
            //-             .content.portfolio-caption-subheading.text-muted.text-left 
            //-                 span โอนเงินเข้าบัญชีธนาคาร ผ่านเคาน์เตอร์ธนาคาร, ATM หรือ Internet Banking เพื่อรับหลักฐานการจอง