// Services
section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase ทำไมถึงควรใช้บริการกับเรา
            h3.section-subheading.text-muted Why us.
        .row.text-center
            .col-md-3
                img.img-how-to(src='assets/img/whyus/fire-svgrepo-com.svg', alt='')
                h4.my-3 ไฟแรง
                p.text-muted
                    span ไฟแรง
                    br
                    span ให้ความร้อนสม่ำเสมอ 
            .col-md-3
                img.img-how-to(src='assets/img/whyus/time-svgrepo-com.svg', alt='')
                h4.my-3 ไฟติดทนนาน
                p.text-muted
                    span ติดทนนาน 2-3 ชม.
                    br
                    span ไม่แตกปะทุ 
            .col-md-3
                img.img-how-to(src='assets/img/whyus/coal-svgrepo-com.svg', alt='')
                h4.my-3 ไร้กลิ่น  ไร้ควัน
                p.text-muted
                    span ไร้กลิ่น  ไร้ควัน 
                    br
                    span ขี้เถ้าน้อย
            .col-md-3
                img.img-how-to(src='assets/img/whyus/chemistry-svgrepo-com.svg', alt='')
                h4.my-3 ปลอดภัย ไร้สารเคมี
                p.text-muted
                    span ไร้สารเคมี ปลอดภัยต่อสุขภาพ 
                    br
                    span และสิ่งแวดล้อม
        br
        br
        .row
            .col-sm-1
            .col-sm-10
                .row
                    .col-sm-4
                        a(href="https://www.facebook.com/Charcoalnongdangmodel.2022/" target="_blank") 
                            button.btn.btn-primary.btn-block.fb-btn 
                                img(src="../../assets/img/logos/fb-logo-white.png")
                                span FB: ถ่านอัดเเท่งหนองเเดงโมเดล
                    .col-sm-4
                        a(href="https://line.me/R/ti/p/davebls" target="_blank") 
                            button.btn.btn-primary.btn-block.line-btn 
                                img(src="../../assets/img/logos/line-logo.png")
                                span Line ID: @davebls
                    .col-sm-4
                        a(href="tel:+66969347420")
                            button.btn.btn-primary.btn-block.phone-btn 
                                img(src="../../assets/img/logos/telephone-white.jpg")
                                span คุณนัส 096-934-7420
                                br
                                span คุณเดฟ 095-778-6296
            .col-sm-1
    .carousel.slide#carouselExampleIndicators(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
            li(data-target="#carouselExampleIndicators" data-slide-to="1")
            li(data-target="#carouselExampleIndicators" data-slide-to="2")
            li(data-target="#carouselExampleIndicators" data-slide-to="3")
        .carousel-inner
            .carousel-item.active
                img.img-how-to(src='assets/img/whyus/fire-svgrepo-com.svg', alt='')
                h4.my-3 ไฟแรง
                p.text-muted
                    span ไฟแรง
                    br
                    span ให้ความร้อนสม่ำเสมอ 
            .carousel-item
                img.img-how-to(src='assets/img/whyus/time-svgrepo-com.svg', alt='')
                h4.my-3 ไฟติดทนนาน
                p.text-muted
                    span ติดทนนาน 2-3 ชม.
                    br
                    span ไม่แตกปะทุ 
            .carousel-item
                img.img-how-to(src='assets/img/whyus/coal-svgrepo-com.svg', alt='')
                h4.my-3 ไร้กลิ่น  ไร้ควัน
                p.text-muted
                    span ไร้กลิ่น  ไร้ควัน 
                    br
                    span ขี้เถ้าน้อย
            .carousel-item
                img.img-how-to(src='assets/img/whyus/chemistry-svgrepo-com.svg', alt='')
                h4.my-3 ปลอดภัย ไร้สารเคมี
                p.text-muted
                    span ไร้สารเคมี ปลอดภัยต่อสุขภาพ 
                    br
                    span และสิ่งแวดล้อม
            a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.sr-only Previous
            a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.sr-only Next