doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='ถ่านอัดเเท่ง ไฟแรง ติดทนนาน ไร้กลิ่น ไร้ควัน ไร้สารเคมี')
        meta(name='author', content='ถ่านอัดเเท่งหนองเเดงโมเดล')
        meta(name='keywords', content='ถ่านอัดเเท่ง, ถ่านไฟ, ถ่านไฟเเรง, ปิ้งย่่่าง')
        meta(name='facebook:page', content='https://www.facebook.com/Charcoalnongdangmodel.2022/')
        meta(name='line:account', content='@davebls')

        title NO.1 ถ่านอัดเเท่งหนองเเดงโมเดล

        link(rel='icon', type='image/x-icon', href='assets/img/logo.jpeg')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        //- FB Chat Button
        include plugins/fbChatButton.pug

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.js-scroll-trigger(href='#page-top')
                    img#logo(src='assets/img/logo.jpeg', alt='')
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') ทำไมถึงควรสั่งถ่านกับเรา
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') ขั้นตอนในการสั่ง
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') ผลงานของเรา
        
        include sections/banner.pug
        include sections/services.pug
        include sections/howto.pug
        include sections/team.pug
        include sections/footer.pug

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')


        // Core theme JS
        script(src='js/scripts.js')